.env
./venv
venv
base-grammar
langchain_code_sync/frontend/node_modules
**/__pycache__
langchain_code_sync/backend/checkpoints.db
langchain_code_sync/backend/checkpoints.db-shm
langchain_code_sync/backend/checkpoints.db-wal
**/workspace/*
langchain_code_sync/backend/workspace/repo_b
workspace/
checkpoints.db
.sync_metadata.json
# 后端启动命令 python -m uvicorn app.main:app --reload  --port 8000